body {
  height: 100vh;
  background-color: #eeece8;
}
.text-editor {
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: solid 1px #a4a2a6;
  border-radius: 3px;
}

.editable {
  border-top: solid 1px #a4a2a6;
  padding: 20px 0;
}

button {
  border: none;
  margin: 5px;
  color: #7B7D78;
  background-color: transparent;
}
